RewriteEngine On
RewriteRule (^|/)assets(/|$) - [F]
RewriteRule (^|/)css(/|$) - [F]
RewriteRule (^|/)src(/|$) - [F]
RewriteRule (^|/)scripts(/|$) - [F]
RedirectMatch 403 /\..*$

<Files "robots.txt">
  Order Allow,Deny
  Deny from all
</Files>

order Allow,Deny
Deny from all
Allow from 127.0.0.1
