@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

html {
  height: 100%;
  font-size: medium;
  min-height: 100vh;
  line-height: 1;
  background-color: #212529;
  font-family: "Ubuntu Mono", monospace;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Courier New", Courier, monospace;
}

body {
  font-size: 20px;
  color: #f0f0f0;
}

a {
  color: #1e88e5;
  text-decoration: none;
}

a:hover {
  color: #1e2be5;
  cursor: pointer;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --gray-1: #3f3f3f;
  --gray-2: #32353a;
  --gray-3: #25282c;
  --gray-4: #151618;
  --gray-5: #151618;
  --gray-6: #111111;
  --white-1: #eeeeee;
  --white-2: #a9abb3;
}

.modal-article,
.modal-article-date {
  display: block;
  color: var(--white-2);
}

.modal-article {
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
}

.modal-article-date {
  font-size: 0.8rem;
}

.modal-article:hover {
  background: var(--gray-4);
}

hr {
  border-top: 2px dashed var(--white-2) !important;
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
  margin-bottom: 1.75rem !important;
}

/* Category */
.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.5rem;
}
.categories .category {
  display: block;
  color: var(--gray-4);
  background: var(--white-2);
  border-radius: 15px;
  font-size: 0.7rem;
  padding: 0 0.8rem;
  line-height: 1.3rem;
  cursor: pointer;
}

/* Copy code button */
.copy-code-button {
  position: absolute;
  right: 0.25rem;
  bottom: 0.25rem;
  opacity: 0;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: normal;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: var(--white-1);
  color: var(--gray-5);
  transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

pre:hover .copy-code-button {
  opacity: 1;
}

.copy-code-button:hover {
  background-color: var(--white-2);
}

[data-theme="light"] .copy-code-button {
  background-color: var(--gray-2);
  color: var(--white-1);
}

[data-theme="light"] .copy-code-button:hover {
  background-color: var(--gray-3);
}

@media (prefers-color-scheme: light) {
  .copy-code-button {
    background-color: var(--gray-2);
    color: var(--white-1);
  }

  .copy-code-button:hover {
    background-color: var(--gray-3);
  }
}

/* Animation */
.scale-up {
  animation: scale-up 1.2s ease-in-out;
}

.fade-in {
  animation: fadeIn 1.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scale-up {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
