body {
    background-color: transparent !important;
    color: black;
    font-size: 20px
}


@media screen and (max-width: 750px) {
    .content {
        margin: 5vh 1vw 5vh 1vw !important;
    }
}

.content {
    margin: 5vh 15vw 5vh 15vw;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: whitesmoke;
    border-radius: 15px;
}

#canvas {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
}

.topS {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
}

.topList {
    float: left;
}

.a-list {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 10vw;
    text-decoration: none;
}

.a-list:hover {
    background-color: black;
    color: white;
}